
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Rakkas&family=Signika:wght@300&family=Slabo+27px&display=swap');

body{
    background-color: #85b8c3;

}
/* * are applied to all at once which we can change as required for particuler */
*{
    margin: 0;
    padding: 0;
}
#nav{
    /* padding-bottom: 10px; */
    max-width:none;
    margin: 1vh;
    margin-top: 0.5vh;
    overflow: hidden;
    background-color: #547587;
    border-color: #547587;
    border-width: 6px;
    border-style:ridge;
    border-radius: 10px;
    box-shadow: 6px 8px 6px rgb(3, 4, 5);
}
#sign{
    text-align: left;
    /* margin-left: 80%; */
    position:relative;
    bottom: 40px;
    /* background-color: red; */
    max-width: fit-content;
    /* max-height: fit-content; */
    
}
.signbut{
    background-color: #b9babc;
    color: #12191c;
    
    border-width: 2px;
    border-color: rgb(105, 105, 105);
    border-style: groove;
    border-radius: 5px;
    margin-left: 3vw;
    
    padding: 3px;
    text-decoration: none;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(86, 84, 84);
    box-shadow: 4px 5px 6px rgb(11, 11, 11);
}
.signbut:hover{
    cursor: pointer;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.889);
    /* font-size: 12px; */
}
@media only screen and (min-width: 200px) and (max-width: 480px){
    .signbut{
        display: flex;
        margin-top:5px ;
    }
}
#logo{
    list-style-type: none;
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-align: center;
    color: rgb(235, 235, 235);
    font-family: 'Fruktur', cursive;
    font-size: 250%;
    /* font-size: x-large; */
    letter-spacing: 8px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,4px 4px 2px black;
}
#about{
    list-style-type: none;
    max-width: fit-content;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 2px;
    color: #393939;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    font-size: 110%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white,4px 4px 2px black;
} 
#about:hover{
    cursor: pointer;
    color: #192428;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white,4px 4px 2px black;

}
.about_dropdown{
    margin-top: -1.4vh;
    max-width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    border-style: ridge;
    border-width: 6px;
    padding: 1.8em 1em 1em 1em;
    background-color:#547587ba;
    border-radius: 5px;
    box-shadow: 6px 8px 6px rgb(3, 4, 5);
    border-top:none ;
    
    border-color: #547587;
    color: #dcdfe2;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black,1px 2px 2px black;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    transform: scaleY(0);
    transform-origin: top;
    transition: 200ms;
}
.dropd {
    transform: scaleY(1);
}
.cart{
    position: relative;
    margin-left: 5%;
    margin-top: 2vh;
    margin-bottom: 2px;
    background-color: #c4c7ca;
    max-width: fit-content;
    border-radius: 6px;
    border-color: #a9abac;
    border-width: 6px;
    border-style:groove;
    box-shadow: 8px 7px 5px rgba(0, 0, 0, 0.889);
}
.your_cart{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 96%;
    height: auto;
    padding-left: 1vw;
    padding-top: 5%;
    text-shadow: 1px 2px 2px black;
    color: #12191c;
}
.fa-cart-shopping{
    position: relative;
    font-size: 26px;
    padding-right: 1vw;
    padding-bottom: 0.5vh;
    padding-top: 3%;
    color: #39505c;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black,4px 4px 2px black;

}
#cart_val{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(235, 233, 233);
    position: absolute;
    right: 1.4vw;
    width: 15px;
    /* background-color: red; */
    border-radius: 20px;
}
.cart:hover{
    cursor: pointer;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.889);
    top: 1px;
    
}


#h2{
    font-family: 'Rakkas', cursive;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:200%;
    letter-spacing: 2px;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white,4px 6px 4px rgba(0, 0, 0, 0.681);
    padding: 20px 20px;

}
.beatlist{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.beatbox{
    display: inline-block;
    max-width: 200px;
    height: 170px;
    border-width: 7px;
    border-color: #a1a0a0;
    border-style:groove;
    border-radius: 10px;
    margin: 20px;
    padding: 30px 90px 30px 90px;
    position: relative;
    background-color: #dcdfe2;
    box-shadow: 20px 15px 10px;
}
.beatbox:hover{
    top: 1px;
    box-shadow: 18px 13px 10px;

}
.playbut{
    color: #121b1e;
    font-size: 50px;
    max-width: fit-content;
    /* position: relative;
    padding-top: 100px; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 80%;
    text-shadow: 5px 5px 3px rgba(106, 105, 105, 0.725);
}
.repbut{
    color: #121b1e;
    font-size: 26px;
    max-width: fit-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 65%;
    text-align: center;
    margin-top: 87%;
    text-shadow: 5px 5px 3px rgb(106, 105, 105,0.725);
}
.fa-cart-plus{
    color: #0c1214;
    font-size: 26px;
    max-width: fit-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 65%;
    right: 0;
    text-align: center;
    margin-top: 87%;
    text-shadow: 4px 4px 3px rgb(106, 105, 105,0.725);
}
.beatname{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #cdd5d6;
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black,4px 4px 2px rgba(134, 131, 131, 0.829);
    letter-spacing: 1px;
}
i.playbut:hover, i.repbut:hover, i.fa-cart-plus:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
} 
i.playbut:active{
    text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.26);
    font-size:310%;
}
i.repbut:active{
    text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.26);
    font-size:155%;
}
i.fa-cart-plus:active{
    text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.26);
    font-size:155%;
}



